.button {
  cursor: pointer;
  border: none;
  background: transparent;
  transition: all 0.2s linear;
  color: white;
  cursor: pointer;
}

.secondary-button {
  background-color: #fbb501;
}

.button-name {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-arrow-icon {
  transition: transform 0.2s ease-in-out;
  width: 16px;
  height: 16px;
}

.button-arrow-icon.rotate {
  transform: rotate(180deg);
}
