.footer-main-container {
  background-color: #1e0e00;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.features-container-footer {
  list-style-type: none;
  padding: 0px;
  background-color: #1e0e00;
  margin-top: 0px;
}

.accordion-container-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.features-card-footer {
  color: #fff5db;
  text-align: start;
  list-style-type: none;
  padding: 0.75rem;
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-family: 'font2';
  background-color: #1e0e00;
}

.accordion-item-card-footer {
  background-color: #1e0e00;
}

.features-card-footer {
  font-family: 'font2';
}

.heading-footer {
  text-align: start;
  color: #ad6500;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.72px;
  font-weight: 500;
  margin: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'font2';
}

.button-arrow-icon {
  border: none;
  background-color: transparent;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-right: 12px;
  background-color: #1e0e00;
  align-items: center;
}

.accordion-header.active {
  border-bottom: none;
}

.accordion-section-wrapper {
  text-align: start;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button-arrow-icon.rotate {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .heading-footer {
    margin: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.72px;
    font-weight: 500;
  }
}
