.footer-sub-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-base-main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo-card {
  width: fit-content;
  height: 1.25rem;
}

.hubboposLogo {
  width: fit-content;
}

.button-logo {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: transparent;
  border: none;
  pointer-events: none;
}

.button-card {
  display: flex;
  flex-direction: row;
}

.button-card-text {
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: 'font1';
}

.country-logo {
  /* margin-right: 0.5rem; */
  width: 1.5rem;
  height: 1.5rem;
}

/* .hubboposLogo {
  height: 100%;
  width: auto;
} */

.app-store-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-store-card {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.appstore {
  max-width: 100%;
  height: auto;
  width: 128px;
}

.need-help {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}

.need-help-text {
  margin: 0px;
  color: #fff5db;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500;
  font-family: 'font1';
  opacity: 0.7;
}

.hello-link {
  margin: 0;
  color: #fff5db;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500;
  font-family: 'font1';
  opacity: 0.7;
  text-decoration: underline;
  cursor: pointer;
}

.social-store {
  display: flex;
  justify-content: center;
}

.image-social {
  padding: 0.5rem;
}

.privacy-notice {
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  color: #846b54;
  margin: 0px;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-store-tabsize {
  display: none;
}

.social-store {
  display: inline;
}

.app-store-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-direction: column-reverse;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 292px;
}

/* .footer-base-sub-container {
  display: flex;
} */

.app-store-card-container-1 {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-main-container {
    padding-top: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
  }

  .logo-card {
    height: 1.5rem;
  }

  .social-store {
    display: none;
  }

  .social-store-tabsize {
    display: inline;
    display: flex;
    justify-content: flex-end;
    margin-top: -68px;
  }

  .app-store-card-container {
    display: flex;
    flex-direction: column-reverse;
    flex-direction: row;
    justify-content: space-between;
  }

  .need-help {
    display: flex;
    flex-direction: column;
  }

  .need-help-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .hello-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .appstore {
    width: 145px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-main-container {
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
  }

  .footer-card {
  }

  .header {
    margin: 0px;
    color: #ad6500;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'font1';
    padding: 0.75rem;
  }

  .footer-cards-container {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
    gap: 1.25rem;
  }

  .footer-cards-card {
    display: flex;
    justify-items: flex-end;
    gap: 1.25rem;
  }

  .footer-features {
    color: #fff5db;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0px;
    padding: 0.75rem;
    width: 128px;
  }

  .feature-card {
    list-style-type: none;
    margin: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  .footer-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .feature-card:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .app-store-card-container-1 {
    display: inline;
  }

  .app-store-card-container {
    display: none;
  }

  .app-store-card-container-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .need-help {
    display: flex;
    flex-direction: row;
  }

  .footer-container {
    display: flex;
    justify-content: flex-end;
    gap: 1.25rem;
  }

  .app-store-card-container {
    display: none;
  }

  .appstore {
    width: 210px;
    height: 66px;
  }

  .privacy-notice {
    text-align: start;
  }
}
