.image {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}

.accordion-item {
  display: flex;
  gap: 2.5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 2rem;
}

.accordion-container {
  display: flex;
  gap: 2.5rem;
}

.features-container {
  display: grid;
  row-gap: 1.5rem;
  padding: 0;
  margin: 0;
  column-gap: 2rem;
}

.heading {
  color: #321800;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 600;
  font-family: 'font2';
  text-align: start;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #846b54;
  font-family: 'font1';
  font-weight: 500;
  margin: 0;
  text-align: justify;
  margin-bottom: 2rem;
}

.features::before {
  content: url('../../assets/svg/check-mark.svg');
  padding-top: 0.125rem;
}

.options-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 2rem;
  text-align: start;
}

.features {
  text-transform: capitalize;
  display: flex;
  gap: 0.75rem;
  font-family: 'font1';
}

.learn-more {
  border: 2px solid #321800;
  border-radius: 1rem;
  font-size: 16px;
  color: #472200;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image2 {
  display: none;
}

.features {
  padding: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.button-name .active {
  color: #fff;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  letter-spacing: -0.1px;
}

@media screen and (max-width: 768px) {
  .footer-main-container {
    background-color: #1e0e00;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .features-container {
    list-style-type: none;
    padding: 0px;
  }

  .heading {
    text-align: start;
    color: #ad6500;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.72px;
    font-weight: 500;
    font-family: 'font2';
  }

  .features {
    color: #472200;
    text-align: start;
    list-style-type: none;
    opacity: 0.7;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-family: 'font2';
  }

  .heading {
    margin: 0px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .button-arrow-icon {
    border: none;
    background-color: transparent;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #492a00;
    padding-bottom: 1rem;
    padding-right: 12px;
  }

  .accordion-header.active {
    border-bottom: none;
  }

  .accordion-section-wrapper {
    text-align: start;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .accordion-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .accordion-item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
  }

  .accordion-toggle {
    background-color: #fff5db;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 1rem;
    font-size: 16px;
    font-family: 'font1';
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
  }

  .accordion-label {
    font-weight: 600;
    font-size: 16px;
  }

  .arrow-icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .arrow-icon.rotate {
    transform: rotate(180deg);
  }

  .image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    border-radius: 0.5rem;
    /* padding-top: 5rem; */
  }

  .heading {
    color: #321800;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    font-weight: 600;
    font-family: 'font2';
    text-align: start;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #846b54;
    font-family: 'font1';
    font-weight: 500;
    margin: 0;
  }

  .options-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 1.5rem;
    column-gap: 2rem;
    text-align: start;
  }

  .features {
    text-transform: capitalize;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-family: 'font1';
    position: relative;
  }

  .features::before {
    content: url('../../assets/svg/check-mark.svg');
    padding-top: 0.125rem;
  }

  .learn-more {
    border: 2px solid #321800;
    border-radius: 1rem;
    font-size: 16px;
    color: #472200;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 40px;
    margin-top: 40px;
  }
  .image2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .accordion-content {
    padding: 0.75rem;
  }

  .heading {
    font-size: 20px;
    line-height: 28px;
  }

  .accordion-toggle {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .image2 {
    display: none;
  }
}

.button-arrow-icon.rotate {
  transform: rotate(180deg);
}
