.background-image {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #fbb501;
  position: relative;
}

.freedemoImage-1 {
  left: 0px;
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -1.5rem;
}

.freedemoImage-2 {
  max-width: 100%;
  height: auto;
  position: absolute;
  right: -100px;
}

.sub-header {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-top: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: 'font1';
  text-align: center;
  color: #472200;
}

.text-header {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 600;
  margin: 0px;
  font-family: 'font2';
  text-transform: capitalize;
}

.background-image {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.content-cards-main {
  text-align: center;
  max-width: 829px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.text-head-main {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 600;
  font-family: 'font1';
  text-transform: capitalize;
  color: #321800;
}

.get-started-button {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.Request-free {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  white-space: nowrap;
  background-color: #472200;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: 'font1';
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .text-head-main {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
    font-weight: 600;
    color: #321800;
    text-transform: capitalize;
    font-family: 'font2';
    margin: 0px;
  }

  .sub-header {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: 500;
    font-family: 'font2';
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .text-header {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: -1.44px;
  }

  .sub-header {
    margin-top: 0.5rem;
  }
}
